/* #region page */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* #endregion*/

/* #region header */
.header {
  padding: 24px 20px 40px;
  background-image: url(./images/header-bg-mobile.png);
  height: 100vh;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.header__top {
  display: flex;
  justify-content: space-between;
}

.header__icons {
  display: flex;
  gap: 24px;
}

.header__waves {
  background-image: url(./images/waves.png);
  width: 48px;
  height: 57px;
}


/* #endregion */


/* #region icon */
.icon {
  /* background-image: ; */
  display: block;
  width: 24px;
  aspect-ratio: 1;
}


.icon--phone {
  background-image: url(./icons/phone.png);
}

.icon--menu {
  background-image: url(./icons/burger.png);


}

/* #endregion */

/* #region footer */
.footer {}

/* #endregion */
