.page {

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    pointer-events: none;
    opacity: 0;
  }

  &__body {
    margin: 0;
  }

  &__menu:target {
    opacity: 1;
    pointer-events: all;
  }

}
